@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Righteous:wght@400&family=Shrikhand:wght@400&family=Roboto:wght@300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700&display=swap");

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 55.9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 91.4%;
    --input: 0 0% 91.4%;
    --ring: 0 0% 0%;

    --radius: 0.5rem;

    /* Lifestyle brand colors */
    --sleep: 213 47% 72%;
    --mind: 274 100% 86%;
    --mental: 328 78% 65%;
    --soul: 354 63% 62%;
    --body: 26 89% 52%;
    --brain: 48 94% 66%;
    --food: 146 100% 54%;
    --health: 180 95% 69%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 17.5%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 17.5%;
    --muted-foreground: 0 0% 65.1%;

    --accent: 0 0% 17.5%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 17.5%;
    --input: 0 0% 17.5%;
    --ring: 0 0% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
